:root {
  --primary-color: #008080;
  --secondary-color: #228B22;
  --tertiary-color: #87CEEB;
  --quaternary-color: #708090;
  --text-color: #2F4F4F;
  --background-color: #cfe8f4;
  --button-text-color: #FFFFFF;
  --experimental-color: #c8e9ff88;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button.primary {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

button.secondary {
  background-color: var(--secondary-color);
  color: var(--button-text-color);
}



.card {
  background-color: var(--tertiary-color);
}

.icon {
  color: var(--quaternary-color);
}
