body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(0, 14, 34); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing:border-box;
  /* color: white; */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content */
  justify-content: center; /* Center vertically */
  overflow: hidden; /* Ensures no spill over */
  height: 320px; /* Example height, adjust based on your design needs */
}

.grid-image {
  width: 100%;
  height: 100%; /* Ensures the image takes up the entire grid item space */
  object-fit: cover; /* Keeps the aspect ratio and covers the space */
}